<?xml version='1.0' encoding='utf-8'?>
<widget id="com.random.generator.pg" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RandomGenerator-PG</name>
    <description>
        Random Number Generator
    </description>
    <author email="android.rokitnicki@gmail.com" href="https://play.google.com/store/apps/developer?id=Antoni+Rokitnicki"></author>
    <content src="index.html" />
    <access origin="*" />
</widget>
